:root{
    font-size: 0.875em;
    box-sizing: border-box;
    /**/

}
*,::before,::after {
    box-sizing: inherit;

}

body{
    /*background-image: url("../images/bg_texture.png");*/
    /*background-color: #EDEDED;*/


}

