@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@(title: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>AA</title>
        <link rel="stylesheet" media="screen" href="@controllers.Assets#aversioned(stylesheets//main.css)">
        @*<link rel="shortcut icon" type="image/png" href="@controllers.Assets#versioned(images/favicon.png)">*@
        <link rel="shortcut icon"  href="@controllers.Assets#versioned(images/favicon.ico)">
        <script src="@controllers.Assets#versioned(javascripts/hello.js)" type="text/javascript"></script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        <p>Hello @title</p>
    </body>
</html>
