@import play.api.data.Form
@import authentication.forms.SignInForm.Data

@(message:String,signInForm: Form[Data])(implicit request: RequestHeader)


@main(message) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend></legend>
        @helper.form(action = controllers.routes.SignInController.submit()) {
            @helper.CSRF.formField

            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block"></button>
                </div>
            </div>
        }



    </fieldset>
}